body {
    background-color:rgba(242, 208, 145, 0.3);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Lobster Two', cursive;
    color:#592316;
    font-size: 3.0em;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#BF8275;
}

#area-cabecalho {
    background-color: #BF8275;
    padding: auto;
}

#area-logo {
    padding: 10px;
    text-align: center;  
}

#area-principal {
   /* background-color: #BF8275; */
    height: 100%;
    width: 100%;
}
#area-postagem {
   /* border: #592316 1px solid;*/
    background-color:#f2d091;     
    width: 329px;
    height: 500px;
    padding: 2px;
    float: right;
            
}

#postagem {    
    text-align: center;
}




li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color:#A65353;
}

h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
    color: #A65353;
}


table {
    margin: 15px;
    width:auto;
    
}

table, th, td {
    border: 1px solid #A65353;
    border-collapse: collapse;
    
}

th {
    text-align: center;
    color: #A65353;
}

td {
    text-align: left;
}

th, td {
    padding: 10px;
}


#area-rodape {
    text-align:center; 
    color:#A65353;    
}

