/* Color Theme Swatches in Hex */
.desayuno-en-el-hotel-3-1-hex { color: #F29F05; }
.desayuno-en-el-hotel-3-2-hex { color: #BF6F41; }
.desayuno-en-el-hotel-3-3-hex { color: #D9BBA9; }
.desayuno-en-el-hotel-3-4-hex { color: #592316; }
.desayuno-en-el-hotel-3-5-hex { color: #D93E30; }

/* Color Theme Swatches in RGBA */
.desayuno-en-el-hotel-3-1-rgba { color: rgba(242, 159, 4, 1); }
.desayuno-en-el-hotel-3-2-rgba { color: rgba(191, 111, 65, 1); }
.desayuno-en-el-hotel-3-3-rgba { color: rgba(216, 186, 169, 1); }
.desayuno-en-el-hotel-3-4-rgba { color: rgba(89, 34, 22, 1); }
.desayuno-en-el-hotel-3-5-rgba { color: rgba(216, 61, 47, 1); }

/* Color Theme Swatches in HSLA */
.desayuno-en-el-hotel-3-1-hsla { color: hsla(39, 96, 48, 1); }
.desayuno-en-el-hotel-3-2-hsla { color: hsla(22, 49, 50, 1); }
.desayuno-en-el-hotel-3-3-hsla { color: hsla(22, 38, 75, 1); }
.desayuno-en-el-hotel-3-4-hsla { color: hsla(11, 59, 21, 1); }
.desayuno-en-el-hotel-3-5-hsla { color: hsla(5, 68, 51, 1); }